@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальні мінімальні стилі для правильного центрування */
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}
#root {
  min-height: 100svh;
  display: grid;
  place-items: center;
}
